$primary-color:#4D7893;
$accent-color: #9DB6C4;
$font-family: 'Raleway', sans-serif;
$headings-fonts: 'IM Fell English SC', serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

.tile{
    $tile-color:#DAD7CD;
}